Types of planes:

Hess Plane: 20,000
Small: 8,000
Bomber: 15,500
torpedo plane: 25,000

Things to add:

- Make tank 100,000
- add "Defences" including "barbed wire $1000" "Cannons $15,000"
- Armored tank 50,000
- small tank 5,000
- "  " 
- Troop sending manager 

Salvages:

Hess Plane : 10,000
Small Plane: 2,000 
torpedo plane: 2,000
Small tank: 2,000
Armored tank: 10,555

Defences Salvages: $100

YOU MUST HAVE 4,000 FOOD AND 50,000 AMMO 
YOU ALSO MUST HAVE AT LEAST 25 MEN TO GO INTO BATTLE 

- After battle 
-loot 
-pillaging 
- Fuel


100 food
10

100 ammo
20

